<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>Gamma Finances</title>
 </head>
 <body bgcolor="#c0c0c0">
   <center>
<h1>Gamma Finances</h1>  </center>
<h3>Разработчики:</h3>
<ol>
<li><h4>Николай Лосицкий</h4></li>
<li><h4>Тимошик Сергей</h4></li>
</ol>
<p>Программа учета доходов и расходов Gamma finances, создается как проект, который реализован в процессе подготовки разработчиков на курсах  RubyBursa III поток, данная программа  имеет ряд очень полезных функций:
<ol>
 <li>Организацию счетов по доходам и расходам всех членов семьи</li>
 <li>Неограниченное количество счетов и валют</li>
 <li>Мгновенный ввод тех операций, которые вы осуществляете каждый день</li>
 <li>Расписание выполняемости операций</li>
 <li>Интуитивно простой и понятный интерфейс программы</li>
</ol>
Очень важно для сохранения и преумножения своего капитала придерживаться 
финансовой дисциплины,  и в первую очередь не совершать лишние траты. Не 
секрет, что чем больше мы зарабатываем, тем больше начинаем тратить, и 
часто денег как не было, так и нет - они все куда-то уходят.        Чтобы 
такого не происходило, необходимо вести постоянный учет движения своих 
личных финансов. Раньше это делалось исключительно на бумаге, теперь такой 
учет можно вести на компьютере, с помощью Gamma Finances.</p>
 </body>
</html>